@using Notes.Web.Models
@model IEnumerable<NoteViewModel>

@{
    ViewBag.Title = "Notes App";
}

<h2>Notes</h2>

<table>
    @foreach (var note in Model)
    {
        <tr>
            <td>@note.Text</td>
            <td><a href="@Url.Action("Edit", new { id = note.Id })">Edit</a></td>
            <td><a href="@Url.Action("Delete", new { id = note.Id })">Delete</a></td>
        </tr>
    }
</table>

<p>
    <a href="@Url.Action("New")">Add New Note</a>
</p>